.section {
  width: 100%;
  height: 100vh;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.body {
  background-color: #073340;
  background-image: linear-gradient(143deg, #06303c, #073441 66%, #22a1a0);
}

@media screen and (max-width: 767px) {
  .body {
    background-color: #083643;
  }
}
